@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=M+PLUS+1+Code&display=swap");

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: #000;
  background-color: #f8f8ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: "Kode Mono", monospace !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
}
